#extension-insteon-adapter-view {
  position: relative;
  top: 3rem;
  width: 75%;
  margin: 0 auto;
  font-size: 1.8rem;
}

.insteon-status {
  font-style: italic;
}

.insteon-section {
  margin-bottom: 2rem;
}

.insteon-grid {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

@media only screen and (max-width: 730px) {
  #extension-insteon-adapter-view {
    width: 100%;
  }
}