<div id="extension-insteon-adapter-view">
  <div class="insteon-section">
    <h2>Scanning</h2>
    <label for="button-scan">
      <p>
        This will try to add devices based on the contents of the adapter's link database. This is useful if you've used a prior system and already have many devices linked. Battery operated devices will need to be manually added, since we won't be able to interrogate them remotely.
      </p>
    </label>
    <div>
      <button class="text-button" id="button-scan">Scan</button>
    </div>
  </div>

  <div class="insteon-section">
    <h2>Battery-powered Device Setup</h2>
    You may need some extra setup to get some events on battery powered devices.
    <strong>For this to work, you need to wake the device by holding down the "set" button
    until it begins blinking</strong>. Most devices will also beep once.
  </div>
  <div class="insteon-section insteon-grid">
    <label for="heartbeat-device-selection">
      Setup "Heartbeat"
    </label>
    <select id="heartbeat-device-selection"></select>
    <button class="text-button" id="setup-heartbeat-button">Setup</button>

    <label for="lowbat-device-selection">
      Setup "LowBattery"
    </label>
    <select id="lowbat-device-selection"></select>
    <button class="text-button" id="setup-lowbat-button">Setup</button>
  </div>

  <div class="insteon-status" id="insteon-status"></div>
</div>
